header{
  height: 400px;
}

.logo{
  top: 20%;
}

h2{
  top: 50%;
  font-size: 70px;
  transition: 0.5s;
  text-align: center;
  color: #ab45ff;
}

h3{
  background-color: #d2cef2;
  margin: 0 5px;
  text-align: center;
  border-radius: 5px;
}

.banner{
  background-color: black;
}

.content{
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 95%;
  min-height: 40px;
  margin: 0 auto;
}

.content2{
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 95%;
  min-height: 40px;
  margin: 0 auto;
}

article{
  min-height: 300px;
  flex: 1;
  overflow: hidden;
  border-radius: 10px; /* round right edges of images */
}

article img{
  width: 100%;
  margin: 40px 1px 10px;
  border-radius: 10px; /* round left edges of images */
}
/*------------ Tablet ------------*/
@media screen and (min-width: 600px){
  .content{
    flex-flow: nowrap;
    flex-wrap: wrap;
  }
  .content2{
    flex-flow: nowrap;
    flex-wrap: wrap;
  }
  h2{
    color: #80e7f2;
}
article {
  min-height: 280px;
  min-width: 280px;
}
article img{
  margin: 30px 1px 10px;
}

/*------------ Desktop ------------*/
@media screen and (min-width: 1024px){
  header{
    height: 400px;
  }

  .logo{
    top: 77%;
  }

  h2{
    top: 50%;
    left: 13%;
    font-size: 70px;
    cursor: pointer;
    transition: 0.5s;
  }

  h2:hover{
    animation: color-change 2s infinite;
  }
  @keyframes color-change {
  0% { color: #80e7f2; }
  33% { color: #3c3669; }
  66% { color: #812d8c; }
  100% { color: #80e7f2; } /* for smooth animation, add the starting color again */
  }

  .banner{
    background-color: black;
  }

  .content{
    display: flex;
    flex-flow: row;
    align-items: center;
    width: 95%;
    min-height: 40px;
    margin: 0 auto;
  }

  .content2{
    display: flex;
    flex-flow: row;
    align-items: center;
    width: 95%;
    min-height: 40px;
    margin: 0 auto;
  }

  article{
    flex: 1;
    overflow: hidden;
    border-radius: 10px; /* round right edges of images */
  }

  article img{
    width: 100%;
    margin: 20px 20px 5px;
    border-radius: 10px; /* round left edges of images */
    max-height: 400px; /* prevent pictures from overlapping when screen is bigger */
  }
  .content2 article img{
    margin-top: 50px;
  }
